<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title> Panel control publicaciones </title>

  <link rel="stylesheet" href="/vendors/feather/feather.css">
  <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="/assets/img/icono.ico" rel="icon" />

</head>

<body>
  <div class="container-scroller">

    <div th:replace="fragments/navbarPanel :: navbar">
    </div>

    <div class="container-fluid page-body-wrapper">

      <div th:replace="fragments/sidebarPanel :: sidebar">
        </div>

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Tabla entradas</h4>
                  <p class="card-description">
                    Publicaciones creadas
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>
                          Imagen
                        </th>
                        <th>
                          Titulo
                        </th>
                        <th>
                          Resumen
                        </th>
                        <th>
                          Descripcion
                        </th>
                        <th>
                          Categoria
                        </th>
                        <th>
                          <label class="badge badge-success">
                            <i class="mdi mdi-eye me-2"></i> Estado activo
                          </label>
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="post : ${posts}">
                        <td class="py-1">
                          <img th:src="@{'/imagenes/'+ ${post.imagen}}" th:alt="${post.imagen}"/>
                        </td>
                        <td th:text="${post.titulo}">
                     
                        </td>
                        <td th:text="${post.resumen}">
                     
                        </td>
                        <td th:text="${post.descripcion}">
                        
                        </td>
                        <td th:text="${post.categoria}">
                        </td>
                        <td>
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-secondary  btn-info btn-sm" title="Editar publicacion" onclick="">                             
                                <i class="mdi mdi-tooltip-edit me-2"></i>                          
                            </button>
                            <button type="button" class="btn btn-outline-secondary  btn-warning btn-sm" title="Ocultar publicacion" onclick="Swal.fire(
                              'Buen trabajo!',
                              'Se ha ocultado la publicacion!',
                              'info'
                            )">                            
                                <i class="mdi mdi-eye-off me-2"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-10 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Entradas inactivas</h4>
                  <p class="card-description">
                    Publicaciones pausadas
                  </p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Titulo</th>
                          <th>Resumen</th>
                          <th>Categoria</th>
                          <th>
                            <label class="badge badge-warning">
                              <i class="mdi mdi-pause-octagon-outline me-2"></i> Estado Pendiente
                            </label>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Jacob</td>
                          <td>53275531</td>
                          <td>12 May 2017</td>
                          <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                              <button type="button" class="btn btn-outline-secondary  btn-success btn-sm" title="Activar publicacion" onclick="Swal.fire(
                                'Buen trabajo!',
                                'La publicacion ha sido activada!',
                                'success'
                              )">
                                <i class="mdi mdi-eye me-2"></i>
                              </button>
                              <button type="button" class="btn btn-outline-secondary  btn-danger btn-sm" title="Eliminar publicacion" onclick="Swal.fire({
                                title: 'Desea Eliminar esta publicacion?',
                                text: 'Para eliminar haga click en aceptar de lo contrario en cancelar',
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Si, borrar esto!'
                              }).then((result) => {
                                if (result.isConfirmed) {
                                  Swal.fire(
                                    'Eliminar!',
                                    'La publicacion ha sido eliminada',
                                    'success'
                                  )
                                }
                              })">
                                <i class="mdi mdi-delete-forever me-2"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2022. Todos los derechos reservados</span>
          </div>
        </footer>
      </div>
    </div>
  </div>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>

</body>

</html>
