<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title> Panel control comentarios </title>

    <link rel="stylesheet" href="../../static/vendors/feather/feather.css">
    <link rel="stylesheet" href="../../static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../static/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="../../static/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../static/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link href="../../static/assets/img/icono.ico" rel="icon" />

</head>

<body>
<div class="container-scroller">

    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
            <div class="me-3">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
            </div>
            <div>
                <a class="navbar-brand brand-logo" href="panel.html">
                    <img src="../../static/assets/img/icono.ico" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="panel.html">
                    <img src="../../static/assets/img/icono.min.ico" alt="logo"/>
                </a>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-top">
            <ul class="navbar-nav">
                <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                    <h1 class="welcome-text">Buen día, <span class="text-black fw-bold">Administrador</span></h1>
                    <h3 class="welcome-sub-text">Tus actualizaciones de esta semana </h3>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <a class="dropdown-item" href="../index.html"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Cerrar sesion</a>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>

    <div class="container-fluid page-body-wrapper">

        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="../panel.html">
                        <i class="mdi mdi-grid-large menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item nav-category">Centro de control</li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                        <i class="menu-icon mdi mdi-card-text-outline"></i>
                        <span class="menu-title">Publicaciones</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="form-elements">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="publicar_entrada.html">Crear nueva entrada</a></li>
                        </ul>
                    </div>
                    <div class="collapse" id="form-elements">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="control_entradas.html">Modificar o eliminar datos</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                        <i class="menu-icon mdi mdi-card-text-outline"></i>
                        <span class="menu-title">Comentarios</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="charts">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="control_comentarios.html">Control comentarios</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item nav-category">Informacion general</li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                        <i class="menu-icon mdi mdi-table"></i>
                        <span class="menu-title">Tablas</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="tables">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="control_registros.html">Vista completa</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">

                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Tabla comentarios</h4>
                                <p class="card-description">
                                    Comentarios visibles en la pagina
                                </p>
                                <div class="table-responsive pt-3">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                Nombre
                                            </th>
                                            <th>
                                                Apellido
                                            </th>
                                            <th>
                                                Correo
                                            </th>
                                            <th>
                                                Comentario
                                            </th>
                                            <th>
                                                <label class="badge badge-success">
                                                    <i class="mdi mdi-eye me-2"></i> Estado activo
                                                </label>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                Herman Beck
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td>
                                                $ 77.99
                                            </td>
                                            <td>
                                                May 15, 2015
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-warning btn-rounded btn-fw btn-sm">
                                                    <i class="mdi mdi-eye-off me-2"></i> Ocular
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                Messsy Adam
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td>
                                                $245.30
                                            </td>
                                            <td>
                                                July 1, 2015
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-warning btn-rounded btn-fw btn-sm">
                                                    <i class="mdi mdi-eye-off me-2"></i> Ocular
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Pendiente aprobacion</h4>
                                <p class="card-description">
                                    Comentarios en espera
                                </p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Correo.</th>
                                            <th>Comentario</th>
                                            <th>
                                                <label class="badge badge-warning">
                                                    <i class="mdi mdi-pause-octagon-outline me-2"></i> Estado Pendiente
                                                </label>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Jacob</td>
                                            <td>53275531</td>
                                            <td>12 May 2017</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-outline-secondary  btn-success btn-sm">
                                                        <abbr title="Activar comentario">
                                                            <i class="mdi mdi-eye me-2"></i>
                                                        </abbr>
                                                    </button>
                                                    <button type="button" class="btn btn-outline-secondary  btn-danger btn-sm">
                                                        <abbr title="Eliminar comentario">
                                                            <i class="mdi mdi-delete-forever me-2"></i>
                                                        </abbr>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Messsy</td>
                                            <td>53275532</td>
                                            <td>15 May 2017</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-outline-secondary  btn-success btn-sm">
                                                        <abbr title="Activar comentario">
                                                            <i class="mdi mdi-eye me-2"></i>
                                                        </abbr>
                                                    </button>
                                                    <button type="button" class="btn btn-outline-secondary  btn-danger btn-sm">
                                                        <abbr title="Eliminar comentario">
                                                            <i class="mdi mdi-delete-forever me-2"></i>
                                                        </abbr>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2022. Todos los derechos reservados.</span>
                </div>
            </footer>
        </div>
    </div>
</div>

<script src="../../static/vendors/js/vendor.bundle.base.js"></script>
<script src="../../static/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="../../static/js/off-canvas.js"></script>
<script src="../../static/js/hoverable-collapse.js"></script>

</body>

</html>
