<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title> Panel modificar registros </title>

    <link rel="stylesheet" href="/vendors/feather/feather.css">
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/static/assets/img/icono.ico" rel="icon" />

</head>

<body>
<div class="container-scroller">

    <div th:replace="fragments/navbarPanel :: navbar">
    </div>

    <div class="container-fluid page-body-wrapper">

        <div th:replace="fragments/sidebarPanel :: sidebar">
        </div>

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">

                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Tabla entradas</h4>
                                <p class="card-description">
                                    Publicaciones creadas
                                </p>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>
                                                Imagen
                                            </th>
                                            <th>
                                                Titulo
                                            </th>
                                            <th>
                                                Resumen
                                            </th>
                                            <th>
                                                Descripcion
                                            </th>
                                            <th>
                                                Categoria
                                            </th>
                                            <th>
                                                <label class="badge badge-success">
                                                    <i class="mdi mdi-eye me-2"></i> Estado activo
                                                </label>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../../images/faces/face1.jpg" alt="image"/>
                                            </td>
                                            <td>
                                                Herman Beck
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td>
                                                $ 77.99
                                            </td>
                                            <td>
                                                May 15, 2015
                                            </td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-outline-secondary  btn-info btn-sm">
                                                        <abbr title="Editar publicacion">
                                                            <i class="mdi mdi-tooltip-edit me-2"></i>
                                                        </abbr>
                                                    </button>
                                                    <button type="button" class="btn btn-outline-secondary  btn-warning btn-sm">
                                                        <abbr title="Ocultar publicacion">
                                                            <i class="mdi mdi-eye-off me-2"></i>
                                                        </abbr>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../../images/faces/face2.jpg" alt="image"/>
                                            </td>
                                            <td>
                                                Messsy Adam
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td>
                                                $245.30
                                            </td>
                                            <td>
                                                July 1, 2015
                                            </td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-outline-secondary  btn-info btn-sm">
                                                        <abbr title="Editar publicacion">
                                                            <i class="mdi mdi-tooltip-edit me-2"></i>
                                                        </abbr>
                                                    </button>
                                                    <button type="button" class="btn btn-outline-secondary  btn-warning btn-sm">
                                                        <abbr title="Ocultar publicacion">
                                                            <i class="mdi mdi-eye-off me-2"></i>
                                                        </abbr>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2022. Todos los derechos reservados.</span>
                </div>
            </footer>
        </div>

    </div>
</div>

<script src="/static/vendors/js/vendor.bundle.base.js"></script>
<script src="/static/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/hoverable-collapse.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>
