<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title> Crear Publicacion </title>

  <link rel="stylesheet" href="/vendors/feather/feather.css">
  <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="/assets/img/ciencia.png" rel="icon" />

</head>

<body>
  <div class="container-scroller">

    <div th:replace="fragments/navbarPanel :: navbar">
    </div>

    <div class="container-fluid page-body-wrapper">

      <div th:replace="fragments/sidebarPanel :: sidebar">
      </div>

      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">


            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Formulario Entradas</h4>
                  <p class="card-description">
                   Crear nueva publicación
                  </p>
                  <form class="forms-sample" th:action="@{/posts/newpost}" th:object="${post}" method="post" enctype="multipart/form-data">
            
                    <div class="form-group">
                      <label for="inputTitulo">Titulo</label>
                      <input th:field="*{titulo}" type="text" class="form-control" id="inputTitulo" placeholder="Titulo" required>
                    </div>
                    <div class="form-group">
                      <label for="inputResumen">Resumen</label>
                      <input th:field="*{resumen}" type="text" class="form-control" id="inputResumen" placeholder="Resumen" required>
                    </div>
                    <div class="form-group">
                      <label for="textDescripcion">Descripcion</label>
                      <textarea th:field="*{descripcion}" class="form-control" id="textDescripcion" rows="20" cols="50" required></textarea>
                    </div>
                    <div class="form-group">
                      <label for="selectCategoria">Categorias</label>
                        <select th:field="*{categoria}" class="form-control" id="selectCategoria">
                          <option value="Fisica">Fisica</option>
                          <option value="Quimica">Quimica</option>
                          <option value="Biologia">Biologia</option>
                        </select>

                      </div>
                    <div class="form-group">
                      <label>Subir imagen</label>
                      <input type="file" name ="foto"class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" name="foto" class="form-control file-upload-info" disabled placeholder="Adjuntar imagen" required>
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-danger" type="button">Seleccionar</button>
                        </span>
                      </div>
                      
                    </div>
                    <button type="submit" class="btn btn-primary me-2" onclick="Swal.fire(
                      'Buen trabajo!',
                      'Se ha registrado una nueva entrada!',
                      'success'
                      )">
                      Publicar
                    </button>
                    <button class="btn btn-warning">Cancelar</button>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2022. Todos los derechos reservados.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>

    </div>
  </div>

  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="/vendors/select2/select2.min.js"></script>
  <script src="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/file-upload.js"></script>
  <script src="/js/typeahead.js"></script>
  <script src="/js/select2.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>
