<div th:fragment="card_newpost">
    <div class="col-md-8 mx-auto">
        <div class="card shadow mb-4">
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary text-gray-800">Se ha creado una nueva publicacion!</h6>
            </a>
            <div class="collapse show" id="collapseCardExample">
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_send.svg" alt="">
                    </div>
                    <p> Para activar la visualizacion de la publicacion o ver el estado de las mismas por favor ingrese en el siguiente enlace: 
                        <strong>
                            <a href="#">Centro de control publicaciones</a>
                        </strong>
                    </p>
                    <p> Si ya realizo la publicacion, vuelva al <a href="#">&larr; Dashboard</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="card_newuser">
    
</div>

